<!DOCTYPE html>
<html>
<head>
    <title>Автомастерская</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
    <div id="page">
        <div id="main">
            <header>
                <div id="h1-container">
                    <h1>Добро пожаловать в Автомастерскую!</h1>
                </div>
                <hr>
                <nav>
                    <a class="nav-link" href="/">Главная</a>
                    <a class="nav-link" href="/lessons">Обучающие материалы</a>
                    <a class="nav-link" href="/profile">Профиль</a>
                    <a class="nav-link" href="/feedback">Обратная связь</a>
                </nav>
                <hr>
            </header>
            <section>
                <h2>Научитесь ремонтировать автомобили</h2>
                <p>Получите доступ к обучающим материалам и практическим заданиям, чтобы освоить навыки автомобильного ремонта, обслуживания и тюнинга.</p>
                <a href="/lessons" id="begin-btn">Начать обучение</a>
            </section>
            <section>
                <h3>Обучающие материалы</h3>
                <p>Изучайте обучающие материалы, которые помогут вам понять основы и принципы автомобильного ремонта.</p>
                <h3>Практические задания</h3>
                <p>Выполняйте практические задания, чтобы применить полученные знания на практике и развить свои навыки.</p>
            </section>
        </div>
        <footer>
            <hr>
            <p>&copy; 2023 Автомастерская. Все права защищены.</p>
        </footer>
    </div>
</body>
</html>