<!DOCTYPE html>
<html>
<head>
    <title>Автомастерская</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
    <div id="page">
        <div id="main">
            <header>
                <div id="h1-container">
                    <h1>Обучающие материалы</h1>
                </div>
                <hr>
                <nav>
                    <a class="nav-link" href="/">Главная</a>
                    <a class="nav-link" href="/lessons">Обучающие материалы</a>
                    <a class="nav-link" href="/profile">Профиль</a>
                    <a class="nav-link" href="/feedback">Обратная связь</a>
                </nav>
                <hr>
            </header>
            <h2>Список уроков</h2>
            <hr>
            {% for lesson in lessons %}
            <h3>{{lesson['name']}}</h3>
            <a href="/lessons/{{lesson['_id']}}">{{lesson['description']}}</a>
            {% endfor %}
        </div>
        <footer>
            <hr>
            <p>&copy; 2023 Автомастерская. Все права защищены.</p>
        </footer>
    </div>
</body>
</html>