<!DOCTYPE html>
    <html>
    <head>
        <title>Автомастерская</title>
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    </head>
    <body>
        <div id="page">
            <div id="main">
                <header>
                    <div id="h1-container">
                        <h1>{{lesson['name']}} (id: {{lesson['_id']}})</h1>
                    </div>
                    <hr>
                    <nav>
                        <a class="nav-link" href="/">Главная</a>
                        <a class="nav-link" href="/lessons">Обучающие материалы</a>
                        <a class="nav-link" href="/profile">Профиль</a>
                        <a class="nav-link" href="/feedback">Обратная связь</a>
                    </nav>
                    <hr>
                </header>
                <h2>{{lesson['description']}}</h2>
                <hr>
                <p>{{lesson['content']}}</p>
            </div>
            <footer>
                <hr>
                <p>&copy; 2023 Автомастерская. Все права защищены.</p>
            </footer>
        </div>
        
    </body>
    </html>